* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #3D5A80;
}

/*****************/
/*****HERO******/
/*****************/
.heroImage {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 20px;
}

.heroImage img {
  width: 100%;
  border: 4px dotted #293241;
  border-radius: 15%;
  padding: 5px;
  background-color: aliceblue;
  
}

.heroText {
  position: absolute;
  background-color: rgba(152, 193, 217, .9);
  top: 100px;
  padding: 2.5% 15%;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.35)

}

.heroText h2, p {
  color: aliceblue;

}

.heroText h2{
  font-weight:bolder;
}

.heroText p {
  font-weight: 100;
}

/*****************/
/***** MAIN ******/
/*****************/

main {
  margin: 0px auto;
  width: 100%;
  border-radius: 20px;
}

.secctionContainer {
  width: 345px;
  margin: 25px auto;
  border-radius: 20px;
  background-color: #98c1d9;
}

.imageSecction {
 width: 250px;
 height: 250px;
 margin: 0px auto; 
}

.imageSecction img {
  width: 100%;
  border-radius: 50%;
  margin-top: 25px;
}

.textSecction {
  width: 80%;
  text-align: center;
  margin: 50px auto;
  padding: 25px 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}

.textSecction h2 {
  font-weight: 800;
  margin-bottom: 25px;
  color: #293241;
}

.textSecction p {
  font-weight: 600;
}

.infoBtn {
  background-color: beige;
  width: 145px;
  padding: 5px;
  border: 1px dashed #3D5A80;
  border-radius: 10px;
  margin: 25px auto;
}

/*****************/
/****** US *******/
/*****************/

.us {
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
}

.us h2 {
  font-weight: 100;
  padding-top: 30px ;
}

.us hr {
  width: 100px;
  height: 3px;
  margin: auto;
  border-style: none;
  background: -webkit-linear-gradient(left, orange, blue, #82b2ee);
  background: -moz-linear-gradient(left, orange, blue, #82b2ee);
  background: -o-linear-gradient(left, orange, blue, #82b2ee);
  margin-top: 20px;
}

.usInfo {
  width: 100%;
}

.usItemInfo h2 {
  font-weight: 100;
  font-size: 18px;
  margin-top: 40px;
}

.usItemInfo p {
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: 1px;
  color: #293241;
}

.usItemInfo {
  width: 350px;
  margin: auto;
}

.usIconDetail {
  width: 200px;
  height: 200px;
  border: 1.5px solid #dddddd;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  margin-top: 40px;
}

.usIconDetail span {
  font-size: 80px;
  border: 1.5px solid #dddddd;
  border-radius: 50%;
  padding: 46px;
  margin: auto;
}


/***********************/
/****** PRODUCTS *******/
/***********************/

.products {
  width: 100%;
  text-align: center;
  background-color: coral;
}

.products h1 {
  font-weight: 100;
  margin-top: 20px;
}

.products hr {
  width: 100px;
  height: 3px;
  margin: auto;
  border-style: none;
  background: -webkit-linear-gradient(left, orange, blue, #82b2ee);
  background: -moz-linear-gradient(left, orange, blue, #82b2ee);
  background: -o-linear-gradient(left, orange, blue, #82b2ee);
  margin-top: 20px;
} 

.products p {
  margin-top: 40px;
  letter-spacing: 1px;
  color: #dddddd;
}

.productContent {
  width: 100%;
  margin-top: 40px;
}

.productItem {
  margin: auto;
  width: 350px;
  padding: 40px;
  color: white;
}

.productItem span {
  font-size: 80px;
  color: white;
}

.productItem h4 {
  font-weight: 100;
  margin-top: 20px;
  font-size: 20px;
}

.item1 {
  background: #242424;
  border-radius: 10px 10px 0px 0px;
}

.item2 {
  background: #293241;
}

.item3 {
 background: #3D5A80;
}

.item4 {
  background: #82b2ee;
  border-radius: 0px 0px 10px 10px;
}

.parrafoUno {
  text-align: justify;
}

.contact {
  width: 100%;
  text-align: center;
}

.contact h1 {
  font-weight: 100;
  margin-top: 20px;
}

.contact hr {
  width: 100px;
  height: 3px;
  margin: auto;
  border-style: none;
  background: -webkit-linear-gradient(left, orange, blue, #82b2ee);
  background: -moz-linear-gradient(left, orange, blue, #82b2ee);
  background: -o-linear-gradient(left, orange, blue, #82b2ee);
  margin-top: 20px;
}

.contact p {
  margin-top: 40px;
  font-size: 20px;
  color: #293241;
}

.contentButton {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.contentButton button {
  width: 145px;
  height: 30px;
  background-color:#82b2ee;
  border-style: none;
  border-radius: 10px;
  color: whitesmoke;
  font-size: 16px;
  margin: auto;
}

.btn2 {
  margin: auto;
}